In [1]:
import numpy as np
import pandas as pd

In [3]:
animals = pd.read_csv('/Users/dehilinesma/Downloads/mammals.csv')
animals

             Mammal     body  brain
0        Arctic fox    3.385   44.5
1        Owl monkey    0.480   15.5
2   Mountain beaver    1.350    8.1
3               Cow  465.000  423.0
4         Grey wolf   36.330  119.5
..              ...      ...    ...
57  Brazilian tapir  160.000  169.0
58           Tenrec    0.900    2.6
59        Phalanger    1.620   11.4
60       Tree shrew    0.104    2.5
61          Red fox    4.235   50.4

[62 rows x 3 columns]

In [7]:
animals["bodywk"]=animals["body"]*0.453592
animals

             Mammal     body  brain      bodywk
0        Arctic fox    3.385   44.5    1.535409
1        Owl monkey    0.480   15.5    0.217724
2   Mountain beaver    1.350    8.1    0.612349
3               Cow  465.000  423.0  210.920280
4         Grey wolf   36.330  119.5   16.478997
..              ...      ...    ...         ...
57  Brazilian tapir  160.000  169.0   72.574720
58           Tenrec    0.900    2.6    0.408233
59        Phalanger    1.620   11.4    0.734819
60       Tree shrew    0.104    2.5    0.047174
61          Red fox    4.235   50.4    1.920962

[62 rows x 4 columns]

In [9]:
animals['wtratio']=(animals['brain']/1000)/animals['bodywk']
animals

             Mammal     body  brain      bodywk   wtratio
0        Arctic fox    3.385   44.5    1.535409  0.028983
1        Owl monkey    0.480   15.5    0.217724  0.071191
2   Mountain beaver    1.350    8.1    0.612349  0.013228
3               Cow  465.000  423.0  210.920280  0.002005
4         Grey wolf   36.330  119.5   16.478997  0.007252
..              ...      ...    ...         ...       ...
57  Brazilian tapir  160.000  169.0   72.574720  0.002329
58           Tenrec    0.900    2.6    0.408233  0.006369
59        Phalanger    1.620   11.4    0.734819  0.015514
60       Tree shrew    0.104    2.5    0.047174  0.052996
61          Red fox    4.235   50.4    1.920962  0.026237

[62 rows x 5 columns]

In [11]:
animals['wtratiozerocheck'] = np.where(animals['bodywk'] != 0, animals['brain']/1000 / animals['bodywk'], 0)
animals

             Mammal     body  brain      bodywk   wtratio  wtratiozerocheck
0        Arctic fox    3.385   44.5    1.535409  0.028983          0.028983
1        Owl monkey    0.480   15.5    0.217724  0.071191          0.071191
2   Mountain beaver    1.350    8.1    0.612349  0.013228          0.013228
3               Cow  465.000  423.0  210.920280  0.002005          0.002005
4         Grey wolf   36.330  119.5   16.478997  0.007252          0.007252
..              ...      ...    ...         ...       ...               ...
57  Brazilian tapir  160.000  169.0   72.574720  0.002329          0.002329
58           Tenrec    0.900    2.6    0.408233  0.006369          0.006369
59        Phalanger    1.620   11.4    0.734819  0.015514          0.015514
60       Tree shrew    0.104    2.5    0.047174  0.052996          0.052996
61          Red fox    4.235   50.4    1.920962  0.026237          0.026237

[62 rows x 6 columns]

In [15]:
animals['sum'] = animals.sum(axis=1)
animals

/var/folders/5y/q1schvhj60b6r5_4vkhjylg40000gn/T/ipykernel_7322/139847383.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  animals['sum'] = animals.sum(axis=1)

,Mammal,body,brain,bodywk,wtratio,wtratiozerocheck,sum
0,Arctic fox,3.385,44.5,1.535409,0.028983,0.028983,98.956748
1,Owl monkey,0.480,15.5,0.217724,0.071191,0.071191,32.680212
2,Mountain beaver,1.350,8.1,0.612349,0.013228,0.013228,20.177609
3,Cow,465.000,423.0,210.920280,0.002005,0.002005,2197.848582
4,Grey wolf,36.330,119.5,16.478997,0.007252,0.007252,344.647001
...,...,...,...,...,...,...,...
57,Brazilian tapir,160.000,169.0,72.574720,0.002329,0.002329,803.158755
58,Tenrec,0.900,2.6,0.408233,0.006369,0.006369,7.841941
59,Phalanger,1.620,11.4,0.734819,0.015514,0.015514,27.571694
60,Tree shrew,0.104,2.5,0.047174,0.052996,0.052996,5.514330
61,Red fox,4.235,50.4,1.920962,0.026237,0.026237,113.216872

In [19]:
Vehicle = pd.read_excel('/Users/dehilinesma/Downloads/vehicles/vehicles.xlsx')
Vehicle

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [22]:
#Adding and 
Vehicle .loc[Vehicle ['Transmission'].str.startswith('A'), 'TransType'] = 'Automatic'
Vehicle.loc[Vehicle ["Transmission"].str.startswith('M'), 'TransType']= 'Manual'

Vehicle

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,Automatic
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,Automatic
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,Automatic
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,Automatic
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,Automatic
35948,smart,fortwo coupe,2014,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100,Automatic
35949,smart,fortwo coupe,2015,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,Automatic
35950,smart,fortwo coupe,2016,0.9,3,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100,Automatic
35951,smart,fortwo coupe,2016,0.9,3,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150,Manual

In [23]:
# Combine the Dataframe
avg_mpg = Vehicle .groupby('Make', as_index=False).agg({'Combined MPG':'mean'})
avg_mpg.columns = ['Make', 'Avg_MPG']

avg_mpg

                            Make    Avg_MPG
0                     AM General  14.750000
1               ASC Incorporated  16.000000
2                          Acura  21.506623
3                     Alfa Romeo  19.512195
4    American Motors Corporation  17.681818
..                           ...        ...
122                   Volkswagen  24.093601
123                        Volvo  20.605300
124        Wallace Environmental  13.875000
125                         Yugo  25.000000
126                        smart  35.800000

[127 rows x 2 columns]

In [24]:
car= pd.merge(Vehicle , avg_mpg, on='Make')
car.head(10)

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType,Avg_MPG
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,Automatic,14.750000
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,Automatic,14.750000
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,Automatic,14.750000
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,Automatic,14.750000
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,Automatic,16.000000
5,Acura,2.2CL/3.0CL,1997,2.2,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500,Automatic,21.506623
6,Acura,2.2CL/3.0CL,1997,2.2,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400,Manual,21.506623
7,Acura,2.2CL/3.0CL,1997,3.0,6,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650,Automatic,21.506623
8,Acura,2.3CL/3.0CL,1998,2.3,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500,Automatic,21.506623
9,Acura,2.3CL/3.0CL,1998,2.3,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400,Manual,21.506623

In [27]:
sum_mpg = Vehicle .groupby('Make', as_index=False).agg({'Combined MPG':'sum'})
sum_mpg.columns = ['Make', 'sum_MPG']

sum_mpg

                            Make  sum_MPG
0                     AM General       59
1               ASC Incorporated       16
2                          Acura     6495
3                     Alfa Romeo      800
4    American Motors Corporation      389
..                           ...      ...
122                   Volkswagen    25226
123                        Volvo    14774
124        Wallace Environmental      444
125                         Yugo      200
126                        smart      716

[127 rows x 2 columns]

In [28]:
car1= pd.merge(car, sum_mpg, on='Make')
car1

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType,Avg_MPG,sum_MPG
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,Automatic,14.75,59
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,Automatic,14.75,59
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,Automatic,14.75,59
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,Automatic,14.75,59
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,Automatic,16.00,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,Automatic,35.80,716
35948,smart,fortwo coupe,2014,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100,Automatic,35.80,716
35949,smart,fortwo coupe,2015,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,Automatic,35.80,716
35950,smart,fortwo coupe,2016,0.9,3,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100,Automatic,35.80,716
35951,smart,fortwo coupe,2016,0.9,3,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150,Manual,35.80,716

In [30]:
#filtering
filtered = car1[(car1['Make']=='Ford') & 
                (car1['Cylinders']>=6) & 
                (car1['Combined MPG'] < 18)]


filtered.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType,Avg_MPG,sum_MPG
11442,Ford,Aerostar Van,1986,2.8,6,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950,Automatic,18.447726,54347
11450,Ford,Aerostar Van,1988,3.0,6,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950,Automatic,18.447726,54347
11452,Ford,Aerostar Van,1989,3.0,6,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,21,17,522.764706,1950,Automatic,18.447726,54347
11456,Ford,Aerostar Van,1990,4.0,6,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950,Automatic,18.447726,54347
11459,Ford,Aerostar Van,1991,4.0,6,Automatic 4-spd,Rear-Wheel Drive,Vans,Regular,19.388824,15,20,17,522.764706,1950,Automatic,18.447726,54347

In [31]:
filtered['Make'].value_counts()

Ford    1450
Name: Make, dtype: int64

In [35]:
mpg_labels = ['Very Low', 'Low', 'Moderate', 'High', 'Very High']

car1['bins'] = pd.cut(car1['Combined MPG'],5, labels=mpg_labels)
car1.head(10)
# cut by values 
# ('mix-min')/our labels

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType,Avg_MPG,sum_MPG,bins
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,Automatic,14.750000,59,Low
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,Automatic,14.750000,59,Very Low
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,Automatic,14.750000,59,Very Low
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,Automatic,14.750000,59,Very Low
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,Automatic,16.000000,16,Very Low
5,Acura,2.2CL/3.0CL,1997,2.2,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500,Automatic,21.506623,6495,Low
6,Acura,2.2CL/3.0CL,1997,2.2,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400,Manual,21.506623,6495,Low
7,Acura,2.2CL/3.0CL,1997,3.0,6,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650,Automatic,21.506623,6495,Low
8,Acura,2.3CL/3.0CL,1998,2.3,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500,Automatic,21.506623,6495,Low
9,Acura,2.3CL/3.0CL,1998,2.3,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400,Manual,21.506623,6495,Low

In [36]:
car1['bins1'] = pd.qcut(car1['Combined MPG'],5, labels=mpg_labels)
car1.head(10)
#Quartiles

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType,Avg_MPG,sum_MPG,bins,bins1
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,Automatic,14.750000,59,Low,Low
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,Automatic,14.750000,59,Very Low,Very Low
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,Automatic,14.750000,59,Very Low,Very Low
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,Automatic,14.750000,59,Very Low,Very Low
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,Automatic,16.000000,16,Very Low,Very Low
5,Acura,2.2CL/3.0CL,1997,2.2,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,20,26,22,403.954545,1500,Automatic,21.506623,6495,Low,High
6,Acura,2.2CL/3.0CL,1997,2.2,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,22,28,24,370.291667,1400,Manual,21.506623,6495,Low,High
7,Acura,2.2CL/3.0CL,1997,3.0,6,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,18,26,20,444.350000,1650,Automatic,21.506623,6495,Low,Moderate
8,Acura,2.3CL/3.0CL,1998,2.3,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,19,27,22,403.954545,1500,Automatic,21.506623,6495,Low,High
9,Acura,2.3CL/3.0CL,1998,2.3,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,21,29,24,370.291667,1400,Manual,21.506623,6495,Low,High

In [38]:
cutoffs = [7,14,21,23,30,40]
car1['bins2'] = pd.cut(car1['Combined MPG'],cutoffs, labels=mpg_labels)
car1.head(10)

#Identify the outliers and cut it off 
# higher than the minimum

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,...,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,TransType,Avg_MPG,sum_MPG,bins,bins1,bins2
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,...,17,17,522.764706,1950,Automatic,14.750000,59,Low,Low,Low
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,...,13,13,683.615385,2550,Automatic,14.750000,59,Very Low,Very Low,Very Low
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,...,17,16,555.437500,2100,Automatic,14.750000,59,Very Low,Very Low,Low
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,...,13,13,683.615385,2550,Automatic,14.750000,59,Very Low,Very Low,Very Low
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,...,21,16,555.437500,2550,Automatic,16.000000,16,Very Low,Very Low,Low
5,Acura,2.2CL/3.0CL,1997,2.2,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,...,26,22,403.954545,1500,Automatic,21.506623,6495,Low,High,Moderate
6,Acura,2.2CL/3.0CL,1997,2.2,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,...,28,24,370.291667,1400,Manual,21.506623,6495,Low,High,High
7,Acura,2.2CL/3.0CL,1997,3.0,6,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,16.480500,...,26,20,444.350000,1650,Automatic,21.506623,6495,Low,Moderate,Low
8,Acura,2.3CL/3.0CL,1998,2.3,4,Automatic 4-spd,Front-Wheel Drive,Subcompact Cars,Regular,14.982273,...,27,22,403.954545,1500,Automatic,21.506623,6495,Low,High,Moderate
9,Acura,2.3CL/3.0CL,1998,2.3,4,Manual 5-spd,Front-Wheel Drive,Subcompact Cars,Regular,13.733750,...,29,24,370.291667,1400,Manual,21.506623,6495,Low,High,High

In [58]:
#Return the number (count) of vowels in the given string. 
#We will consider a, e, i, o, u as vowels for this Kata (but not y). 
#The input string will only consist of lower case letters and/or spaces.
import re
text = "This is going to be a sentence with a good number of vowels in it."
txt=re.findall(r'[aeiou]',text)
count(txt)

NameError: name 'count' is not defined

In [59]:
import pandas as pd

In [61]:
ids=[11,22,33,44,55,66,77]
countries= ['Spain', 'France','Spain','Germany', 'France']

df=pd.DataFrame(list(zip(ids,countries)),
               columns=['Ids','Countries'])

In [62]:
df

   Ids Countries
0   11     Spain
1   22    France
2   33     Spain
3   44   Germany
4   55    France

In [63]:
y = pd.get_dummies(df.Countries, prefix='Countries')
print(y.head())

   Countries_France  Countries_Germany  Countries_Spain
0                 0                  0                1
1                 1                  0                0
2                 0                  0                1
3                 0                  1                0
4                 1                  0                0

In [65]:
from sklearn.preprocessing import LabelBinarizer

In [66]:
y= LabelBinarizer().fit_transform(df.countries)

AttributeError: 'DataFrame' object has no attribute 'countries'

In [67]:
meth=LabelBinarizer()

In [68]:
y= meth.fit_transform(df.Countries)

In [69]:
y

array([[0, 0, 1],
       [1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0]])

In [71]:
from sklearn.preprocessing import OneHotEncoder

In [72]:
x = [[11, "Spain"], [22, "France"], [33, "Spain"], [44, "Germany"], [55, "France"]]
y= OneHotEncoder().fit_transform(x).toarray()
y

array([[1., 0., 0., 0., 0., 0., 0., 1.],
       [0., 1., 0., 0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 1.],
       [0., 0., 0., 1., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 1., 0., 0.]])

In [75]:
from sklearn.preprocessing import LabelEncoder
label=LabelEncoder()

df['Countries']= label.fit_transform(df['Countries'])
df

   Ids  Countries
0   11          2
1   22          0
2   33          2
3   44          1
4   55          0